<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern" value="%relative %level [%thread] %logger{25} %message\n" />
		</layout>
	</appender>
	<appender name="STDOUT-only-INFO" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern" value="%relative %level [%thread] %logger{25} %message\n" />
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>NEUTRAL</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="STDERR-at-least-WARN" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern" value="%relative %level [%thread] %logger{25} %message\n" />
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>detailed.log</File>
		<Append>FALSE</Append>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern" value="%date [%thread] %-5level %logger{35} - %msg%n" />
		</layout>
	</appender>

	<logger name="org.decisiondeck.xmcda_oo.structure.Situation"
		level="INFO" />
	<logger
		name="org.decisiondeck.xmcda_oo.structure.alternatives_scores.AlternativesScores"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.services.concordance.Concordance"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.services.discordance.Discordance"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.services.outranking.Outranking"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.services.sorting.SortingAssigner"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.utils.matrix.FloatMatrix"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.utils.SetWithId" level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.utils.CSVToXMCDA" level="INFO" />
	<!--<logger name="fr.ecp.lgi.cplex" level="DEBUG" />-->

	<root level="DEBUG">
		<!--<appender-ref ref="STDOUT" />-->
		<appender-ref ref="STDOUT-only-INFO" />
		<appender-ref ref="STDERR-at-least-WARN" />
		<appender-ref ref="FILE" />
	</root>
</configuration>